header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0px;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #555;
  padding: 5px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #777;
}
body{
  margin: 0px;
  background-color:slategrey;
}
.logo
{
  width: 300px;
  height: 300px;
  margin-left:40%;  

}
h1{
  text-align: center;
  font-size: 50px;
  margin-top: 0%;
}
h2{
  text-align: center;
  font-size: 30px; 
  margin-top: -2%
}
p{
  text-align: center;
  font-size: 30px;  
}
div.gallery {
  margin: 100px;
  border: 1px solid #ccc;
  float: left;
  width: 235px;
  padding: 20px;
  background-color:whitesmoke;
}

div.gallery:hover {
  border: 2px solid;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}
h3{
  font-size: 23px;
}

.content {
  float: left;
  width: 33.33%;
  
}
 .content:after {
  content: "";
  display: table;
  clear: both;
}
figcaption{
  font-size: 30px;
  color:azure ;
}
/*meet a team*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color:black;
  font-weight: bolder;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 50.3%;
  margin-left: 27%;
  margin-bottom: 16px;
  padding-top: 140px;
}
  .ceo{
      font-size: 50px;
  }


  
  #slideshow-container {
    width: 100%;
    height: 200px; /* Adjust height as per your requirements */
    overflow: hidden;
    position: relative;
    }
    
    .testimonial-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    }
    
    .testimonial-slide.active {
    opacity: 1;
    transition: opacity 0.5s ease;
    }
    .reviews{
    font-size:50px;
    font-weight:bold;
    }
    .testmonial
    {
    font-size: 30px;
    color:black;
    }
  .map{
      width: 100%;
      }
      
     .footer-icon{
      width: 40px;
      height: 40px;
      border-radius: 5px;
     }
     footer {
      background-color: #333;
      color: white;
      padding: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .footer-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .section {
      flex: 1 1 300px;
      margin: 10px;
  }

  .section h2 {
      color: #fff;
      border-bottom: 1px solid black;
      padding-bottom: 10px;
  }

  .contact-info {
      display: flex;
      align-items: center;
  }

  .contact-info img {
      margin-right: 10px;
  }

  .quick-links a {
      display: block;
      color: #aaa;
      text-decoration: none;
      margin-bottom: 5px;
  }

  .quick-links a:hover {
      color: #fff;
  }
  .contact
  {
    font-size: 20px;
  }
  .about-us{
    font-size: 15px;
  }
  .all-right{
    font-size: 15px;
  }